html
    head
        title= 'penaltyPage'
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            a {
                text-decoration: none;
                display:block;
                width:20%;
                line-height:40px;
                text-align:center;
                background-color:#c8daee;
                color:#3db083;
                font-size:10px;
                font-family: 'Pretendard';
                border-radius: 5px;
            }
            #explanation {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #first {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #second {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #third {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #fourth {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #fifth {
                color:#3db083;
                font-family: 'Pretendard';
                font-size: 15px;
            }
            #body {
                background-color:#f1fdff;
            }
            @font-face {
                font-family:'Pretendard';
                font-style:'normal';
                src:url('./fonts/Pretendard-Regular.otf') format('otf');
            }
    body(id='body')
        a(href="/enterNumber") 돌아가기

        p
            h2
                div(id='explanation') 아래 중에서 하나 골라주세요~~

        p
            div(id='first') 1.음료수 쏘기
            br
            div(id='second') 2.카이스트 배경으로 핫한 릴스 찍기 ex. 뉴진스의 hypeboy
            br
            div(id='third') 3.식사 또는 간식메뉴 정할 때 주도하기
            br
            div(id='fourth') 4.친목 프로그램 결과 제출 등등 조 심부를 담당하기
            br
            div(id='fifth') 5.본인 이름으로 n행시하기


